@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.navbar {
    background-color: #1da1f2;
    display: flex;
    font-size: 1.2rem;
    height: 80px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.navbar-logo {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
}

.nav-item {
    height: 60px;
}

.nav-links {
    color: #ffffff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-links:hover {
    color: #cccccc;
    transition: all 0.2s ease-out;
}

.nav-links.active {
    font-weight: bold;
    text-decoration: underline;
}