.userpage {
    font-family: 'Helvetica neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.info {
    text-align: center;
}

.name {
    font-size: 2em;
    margin-bottom: 0;
}

.username {
    margin: 0;
}

.create-post-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 50%;
    margin-bottom: 20px;
}

.create-post-section textarea {
    font-size: large;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
}

.post-button {
    padding: 10px 50px;
    border: none;
    border-radius: 20px;
    background-color: #ccc;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.post-button.active {
    background-color: #1da1f2;
}

.posts-list {
    list-style-type: none;
    padding: 0;
    width: 50%;
    margin: 0;
}

.post-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
    font-size: large;
}

.post-actions {
    margin-top: 10px;
}

.post-actions button {
    margin-right: 5px;
    border: none;
    border-radius: 10px;
}

.edit-button:active {
    color: #1da1f2;
}

.delete-button:active {
    color: red;
}

.post-edit-area {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.post-edit-area textarea {
    width: 80%;
    height: 70px;
}

.post-edit-area button {
    border-radius: 10px;
    border: none;
    height: 30px;
}

.post-edit-area button:active {
    color: #1da1f2;
}